<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% @trainer.pokemons.each do |x|%>
<%= x.level%>
<%= x.name%>
<%= x.health%>
<%= button_to "Damage!", damage_path(@pokemon), :class => "button medium", :method => :patch %>
<% end %>
